<suite name="Suite">
	<listeners>
		<listener class-name="utilities.ExtentReportManager" />
	</listeners>
	<test thread-count="5" name="Test">
		<parameter name="browser" value="edge" />
		<!--  passing browser parameter to BaseClass ->Setup()  -->
		<classes>
			<class name="testCases.TC_001_AccountRegistrationTest" />
			<class name="testCases.TC_002_LoginTest"/>
			<class name="testCases.TC_003_LoginDataDrivenTest"/>
		</classes>
	</test>
</suite>
